html,body{
  height:100%;
  margin:0;
  padding:0;
}
body{
  background: #f5e9d4;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
  padding: 2rem;
}
.center{
  width: 800px;
  padding: 50px;
  text-align: center;
  margin: 300px auto;
border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.89);
}
h1{
  font-size: clamp(2rem, 8vw, 4.2rem);
  margin-bottom: 2rem;
  margin: 0;
}
p{
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
}
.options{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.option{
  width: 300px;
  text-decoration: none;
  color: inherit;
  transition: transform .25s ease, filter .25s ease;
  border-radius: 6px;
}
.option:hover{
  transform: scale(1.05);
  filter: brightness(1.1);
}
.label{
  background: #b85c38;
  color: white;
  padding: 12px;
  font-size: 1.3rem;
  border-radius: 6px 6px 0 0;
  text-align: center;
}
.option img{
  width: 100%;
  height: auto;
  border-radius: 0 0 6px 6px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
}
.btn {
    background-color: #b86136;
    color: white;
    padding: 15px 40px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #8a4627;
    transform: scale(1.05);
}
.back-btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #b86136;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.back-btn:hover {
    background-color: #8a4627;
    transform: scale(1.05);
}
.img_background {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#Fantasmagorie {
  width: 40%;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}
#LDB {
  width: 60%;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.titre-fr {
  font-size: clamp(2rem, 8vw, 4.2rem);
  margin-bottom: 2rem;
}
.titre-fr .mot {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
}
.titre-fr:hover .bleu {
  color: #0055a4;
  transform: translateY(-4px);
}

.titre-fr:hover .blanc {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0,0,0,0.2);
  transform: translateY(-4px);
}
.titre-fr:hover .rouge {
  color: #ef4135;
  transform: translateY(-4px);
}
.titre-fr .mot:hover {
  transform: translateY(-6px) scale(1.03);
}
